/* we can use webcss variables, fabric compiles that to gtk css.
   global variables can be stored in :vars */
   

:vars {
    --background: #1c2433;
    --foreground: #69C3FF;
    --color0:#1c2433;
    --color1: #262e3d;
    --color2: #303847;
    --color3: #444c5b;
    --color4: #a1adb7;
    --color5: #c3cfd9;
    --color6: #ABB7C1;
    --color7: #08bdba;
    --color8: #FF738A;
    --color9: #FF955C;
    --color10: #EACD61;
    --color11: #3CEC85;
    --color12: #77aed7;
    --color13: #69C3FF;
    --color14: #22ECDB;
    --color15: #B78AFF;
    --window-bg: var(--background);
    --module-bg: alpha(var(--background), 0.8);
    --invisible: alpha(var(--background), 0.0);
    --border-color: var(--foreground);
    --ws-inactive: var(--foreground);
    --ws-active: var(--color7);
    --ws-urgent: var(--color13);
}

/* unset so we can style everything from the ground up. */
* {
    all: unset;
    /* color: var(--foreground); */
    /* font-size: 16px; */
    font-family: "newfont", sans-serif;
    border-radius: 1px;
}

button {
    background-size: 400% 400%;
}

#invisible {
  color: var(--invisible);
  caret-color: transparent;
}


#bar-inner {
    padding: 4px;
    background-color: var(--window-bg);
    min-height: 28px;
}

#viewport {
    color: var(--foreground);
    background-color: var(--window-bg);
}
.selected {
    background-color: var(--color2);
}

#appslot {
    border: solid 5px;
    border-color: var(--color1);
    padding: 5px;
}

#appbox {
    padding-top: 600px;
}

#end-container {
    /* background-color: var(--window-bg);    */
    min-height: 28px;
}

#workspaces {
    padding: 6px;
    padding-left: 106px;
    padding-right: 106px;
    margin-left: 150px;
    min-width: 0px;
    background-color: var(--color3);
    border-left: solid 2px var(--color12);
    border-right: solid 2px var(--color12);
    border-radius: 6px;
}

#workspaces>button {
    padding: 5px 10px;
    background-color: var(--background);
}


#workspaces>button:hover {
    transition: background 0.3s steps(8);
    background-color: var(--color2);
}




#lang {    
    color: var(--foreground);
    font-size: 14px;
    padding: 5px 0px;
}


#command-box.active {
    color: var(--foreground);
    font-size: 14px;
    padding-left: 30px;
}
#command-box.inactive {
    color: var(--color4);
    font-size: 14px;
    padding-left: 30px;
}

#date-time,
#hyprland-language {
    color: var(--color14);
    font-size: 14px;
    padding: 5px 0px;
}
#hyprland-window {
    color: var(--color11);
    font-size: 12px;
}

menu>menuitem>label,
#date-time>label,
#lang,
#hyprland-window>label {
    font-weight: 900;
}

/* system tray */
#system-tray {
    padding: 2px 4px;
    /* background-color: var(--module-bg); */
}

/* menu and menu items (written for the system tray) */
menu {
    border: solid 2px;
    border-radius: 1px;
    border-color: var(--border-color);
    background-color: var(--window-bg);
}

menu>menuitem {
    border-radius: 0px;
    background-color: var(--module-bg);
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
}

menu>menuitem:first-child {
    margin-top: 1px;
    border-radius: 1px;
}

menu>menuitem:last-child {
    margin-bottom: 1px;
    border-radius: 0px 0px 8px 8px;
}

menu>menuitem:hover {
    background-color: var(--border-color);
}


#cpu-progress-bar,
#ram-progress-bar,
#volume-progress-bar {
    color: transparent;
    background-color: transparent
}


#cpu-progress-bar {
    border: solid 0px alpha(var(--foreground), 0.9);
}

#ram-progress-bar,
#volume-progress-bar {
    border: solid 0px var(--border-color);
}


#widgets-container {
    /* background-color: var(--module-bg); */
    padding: 2px;
}

tooltip {
    border: solid 2px;
    border-color: var(--border-color);
    background-color: var(--window-bg);
}

tooltip>* {
    padding: 2px 4px
}




#progress-bar {
    color: var(--module-bg);
    background-color: var(--color3);
    border: solid 10px var(--foreground);
}

#progress-bar-sep {
    padding: 4px;
    margin: 16px 0px;
    border-radius: 100px;
    background-color: var(--module-bg);
}

#progress-bar-container {
    background-color: var(--module-bg);
    /* border-radius: 100px; */
    padding-left: 5px;
    padding-right: 30px;
    border-right: solid 6px var(--foreground);
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.041);
}


#ws-center-container {
    background-color: var(--background);
    padding: 1px 7px 1px 7px;
    border-radius: 30px;
}

#ws-start-container, #ws-end-container {
    background-color: transparent;
}

/* --------- SCREEN LOCK -------------- */

#command-entry {
  opacity: 0;
}



#lock-window {
    opacity: 0;
}




#container {
    padding-top: 200px;
    font-weight: 900;
    font-size: 50px;
}



#signals {
  margin-left:725px;
}












